
/* HEADER */

.header-menu {
  padding: 20px;
}

.header-list {
  display: flex;
  justify-content: space-around;
}

.header-list-item {
  list-style: none;
}

.header-list-item-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  background-color: #0b0c2a;
  color: #fff;
  border-radius: 50%;
  width: 90px;
  height: 90px;
}

.header-list-item-link:hover {
  text-decoration: underline;
}

/* MAIN */

.main {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 50px;
  border-top: 2px solid #0b0c2a;
}

.introduction {
  align-items: center;
  border: none;
}

.photo {
  width: 150px;
  height: 150px;
  border: 3px solid #0b0c2a;
  border-radius: 50%;
}

.section-list-item {
  padding-bottom: 10px;
}

/* FOOTER */

.footer {
  display: flex;
  justify-content: space-around;
  padding: 30px;
}

.logo {
  height: 30px;
}